body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
}
ul {
  padding: 0;
  margin: 0;
}

a {
  color: rgb(110, 110, 110);
  text-decoration: none;
}

h1 {
  font-size: larger;
  margin-left: 0.7em;
}

h2 {
  font-size: 40px;
  margin-left: 13px;
}

.button {
  background-color: black;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 20px;
  padding: 0.5em;
  margin-left: 1em;
  margin-right: 1em;
  text-align: center;
}

.button-text {
  color: white;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: rgb(241, 208, 178);
  margin-top: 29.9em;
  padding-left: 1em;
  padding-right: 0.6em;
}

.footer-list {
  float: left;
  margin-right: 1em;
  padding-top: 20px;
}

li {
  display: flex;
}

.header-list-item {
  margin-top: 1em;
  margin-left: 1em;
}

.lorem-paragraph {
  margin-left: 1em;
  padding-left: 1em;
  text-decoration: solid;
  border-left: solid 4px grey;
  color: grey;
}

.chirpus-text {
  color: black;
}

.header-list {
  flex-direction: column;
  display: flex;
  justify-content: space-between;
  width: 200px;
}

@media only screen and (min-width: 768px) {
  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 250px;
  }

  .header-list-item {
    display: flex;
    align-items: center;
    margin: 0;
  }

  .header-list-container {
    margin-left: 75%;
    align-items: center;
  }

  .header-list {
    flex-direction: row;
  }

  .medium-circle {
    width: 160px;
    height: 160px;
    background-color: rgba(247, 193, 162, 0.7);
    border-radius: 100px;
    position: absolute;
    top: 5em;
  }

  .small-circle {
    width: 120px;
    height: 120px;
    background-color: rgba(207, 130, 213, 0.6);
    border-radius: 100px;
    position: absolute;
    right: 10px;
    top: 20px;
  }

  .big-circle {
    width: 230px;
    height: 230px;
    background-color: rgba(247, 136, 167, 0.6);
    border-radius: 200px;
    position: absolute;
    right: 5em;
  }

  main {
    display: flex;
    justify-content: space-between;
  }

  .circle-section {
    width: 100%;
    display: flex;
    justify-content: right;
    position: absolute;
    right: 1em;
  }

  .main-section {
    width: 50%;
    position: relative;
    left: 1em;
  }

  .button {
    margin: 0;
  }

  .footer-list {
    display: flex;
    justify-content: center;
    padding-top: 20px;
  }
}
